config.stopBubbling=true
lombok.toString.callSuper=CALL
lombok.equalsAndHashCode.callSuper=CALL
clear lombok.val.flagUsage
lombok.val.flagUsage=ERROR
clear lombok.accessors.flagUsage
lombok.accessors.flagUsage=ERROR
clear lombok.log.log4j.flagUsage
lombok.log.log4j.flagUsage=ERROR
clear lombok.log.log4j2.flagUsage
lombok.log.log4j2.flagUsage=ERROR